apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
      scrape_timeout: 10s
      evaluation_interval: 15s

    alerting:
      alertmanagers: []

    scrape_configs:
    - job_name: 'backend'
      metrics_path: /metrics
      static_configs:
      - targets:
        - backend.backend.svc.cluster.local:4000
    - job_name: 'frontend'
      metrics_path: /metrics
      static_configs:
      - targets:
        - frontend.frontend.svc.cluster.local:80
    - job_name: 'prometheus'
      static_configs:
      - targets:
        - localhost:9090


